In [1]:
import pandas as pd

In [2]:
data=pd.read_csv(r"C:\\Users\\A S P I R E 7\\OneDrive - mishu\\Desktop\\power bI task dashboard pratcices\\Jio_Telecom_Churn.csv")

In [3]:
data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [4]:
data.shape

(7043, 21)

In [5]:
data.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,Payment Mode
0,7590-VHVEG,Female,0,Yes,No,1,Jio Postpaid,JioFiber Only,JioFiber,No,...,No,No,Not Subscribed,Not Subscribed,Pay-as-you-go,Yes,29.85,29.85,No,UPI
1,5575-GNVDE,Male,0,No,No,34,Jio Prepaid,Single Jio SIM,JioFiber,Yes,...,Yes,No,Not Subscribed,Not Subscribed,Jio Prime (1 Year),No,56.95,1889.5,No,UPI
2,3668-QPYBK,Male,0,No,No,2,Jio Prepaid,Single Jio SIM,JioFiber,Yes,...,No,No,Not Subscribed,Not Subscribed,Pay-as-you-go,Yes,53.85,108.15,Yes,UPI
3,7795-CFOCW,Male,0,No,No,45,Jio Postpaid,JioFiber Only,JioFiber,Yes,...,Yes,Yes,Not Subscribed,Not Subscribed,Jio Prime (1 Year),No,42.30,1840.75,No,Bank transfer (automatic)
4,9237-HQITU,Female,0,No,No,2,Jio Prepaid,Single Jio SIM,Jio True 5G,No,...,No,No,Not Subscribed,Not Subscribed,Pay-as-you-go,Yes,70.70,151.65,Yes,UPI

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
 20  Payment Mode      7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [7]:
data["PhoneService"].value_counts()

PhoneService
Jio Prepaid     6361
Jio Postpaid     682
Name: count, dtype: int64

In [8]:
data["InternetService"].value_counts()

InternetService
Jio True 5G            3096
JioFiber               2421
No Internet Service    1526
Name: count, dtype: int64

In [9]:
data["Payment Mode"].value_counts()

Payment Mode
UPI                          3977
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64

In [10]:
data["StreamingTV"].value_counts()

StreamingTV
Not Subscribed         2810
JioTV                  2707
No internet service    1526
Name: count, dtype: int64

In [11]:
#findout specific data type column

In [12]:
df1=data.select_dtypes(include="object").columns
df1

Index(['customerID', 'gender', 'Partner', 'Dependents', 'PhoneService',
       'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'Contract', 'PaperlessBilling', 'TotalCharges', 'Churn',
       'Payment Mode'],
      dtype='object')

In [15]:
df2=data.select_dtypes(include="int64").columns
df2

Index(['SeniorCitizen', 'tenure'], dtype='object')

In [16]:
df2=data.select_dtypes(include="float64").columns
df2

Index(['MonthlyCharges'], dtype='object')

In [17]:
df1.isnull().sum()

np.int64(0)

In [18]:
df1.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

#fill,replace and change data type as you want

In [ ]:
df["column2"]=df["column2"].fillna(df["column2"].mode/median/mean()[0],inplace=True)# use mean ,median or mode while filling null value
df["column2"].replace("3+","3",inplace=True)#change 3+ to 3
df["column2"].astype("int64")#change into int